* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f7fa;
    /* color: #112B3F; */
    font-family: 'Alan Sans', sans-serif;
}

header #navbar {
    display: flex;
    justify-content: space-between;

    background-color: #122A3F;

    padding: 20px 20px;

}

header #navbar nav ul {
    display: flex;
    list-style: none;
    align-items: flex-start;
    gap: 20px;
    padding: 10px 20px;
}

header nav ul li a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #00b4d8;
    animation: fadeIn 2s ease;

}

header #navbar h1 {
    color: #FEFEFE;
}

#criar_conta {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#gratis {
    display: flex;
    flex-direction: column;
    padding: 150px 100px 80px 60px;
    gap: 20px;
}

section #gratis h2 {
    font-size: 60px;
    color: #122A3F;
}

section #gratis p {
    display: block;
    font-size: 20px;
}

section #gratis h2 span {
    color: #2466a8;
}

section #right-side {
    /* background-color: #00b4d8;    */
    display: flex;
    justify-content: center;
    align-items: center;
}

section #right-side img {
    text-align: center;
    display: flex;
    align-items: center;
    padding: 50px 100px 0 0;
    height: 400px;
    width: 400px;
}

main{
    margin-top: 0px;
}

main#box_formulario_login {
    margin-top: 40px;
    margin-bottom: 40px;
}

#box_formulario_login {
    padding: 150px 80px;
    max-width: 1200px;
    width: 100%;
    height: fit-content;
    border-radius: 10px;

    margin: 0 auto;
    background-color: #FEFEFE;
    box-shadow: 8px 12px 16px 8px rgba(0, 0, 0, 0.15);
}

#box_formulario_login h2 {
    text-align: center;
    color: #122A3F;
    font-size: 36px;
    margin-bottom: 20px;
}

#box_formulario_login form {
    display: flex;
    flex-direction: column;
}

.input_group label{
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #122A3F;
    margin-top: 5px;
}

.input_group input[type="text"],
.input_group input[type="email"],
.input_group input[type="password"] {
    width: calc(100% - 24px);
    padding: 12px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-size: 1em;
    color: #333;
    background-color: #fdfdfd;
}

button {
    background-color: #3168B9;
    color: white;
    padding: 14px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 600;
    transition: background-color 0.3s ease;
    width: calc(100% - 24px);
    margin-top: 20px;
}